{% extends '::base.html.twig' %}

{% block body %}
  <h1>{%trans %}cv.list {% endtrans %}</h1>
  <ul>
    {% for cv in cvs %}
      <li>
        <a href="{{ path('Bacardi55CvgeneratorBundle_cv', {'id': cv.id }) }}">
          {{ cv }}
        </a>
        {% if (is_admin == true) %}
          -
          <a href="{{ path('Bacardi55CvgeneratorBundle_delete', {'id': cv.id}) }}">X</a>
        {% endif %}
      </li>
    {% else %}
      {% trans %} cv.no_cv {% endtrans %}
      No registered Cv
    {% endfor %}
  </ul>

  <a href="{{ path('Bacardi55CvgeneratorBundle_create_cv') }}">
    {% trans %}cv.new{% endtrans %}
  </a>

{% endblock %}
