{% extends '::base.html.twig' %}

{% block body %}
  <h1>Liste des CV</h1>
  <ul>
    {% for cv in cvs %}
      <li>
        <a href="{{ path('Bacardi55CvgeneratorBundle_cv', {'id': cv.id }) }}">
          {{ cv }}
        </a>
        - 
        <a href="{{ path('Bacardi55CvgeneratorBundle_delete', {'id': cv.id}) }}">X</a>
      </li>
    {% else %}
      No registered Cv
    {% endfor %}
  </ul>

  <a href="{{ path('Bacardi55CvgeneratorBundle_create_cv') }}">Add a Cv</a>

{% endblock %}
